*.core
*.diff
*.o
*.patch
*~
.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
b-em
config.log
config.status
configure
core
etc/
install-sh
missing
tags

# Windows Visual Studio Files
src/Debug/
src/Release/
*.opensdf
*.sdf
*.sln
