# Auto detect text files and perform LF normalisation.
* text=auto

# Text files.
*.c text
*.cc text
*.cpp text
*.h text
*.hpp text
*.m text
*.mak text
*.mm text
*.pl text
*.txt text

# Binary files.
*.bin binary
*.dat binary
*.dll binary
*.exe binary
*.ico binary
*.snd binary
*.wav binary

# Misc.
*.bat text eol=crlf
*.dsp text eol=crlf
*.dsw text eol=crlf
*.rc text eol=crlf
*.sln text eol=crlf filter=utf8bom
*.vcproj text eol=crlf filter=utf8bom
*.vcxproj text eol=crlf filter=utf8bom
*.vcxproj.filters text eol=crlf filter=utf8bom

# BBC files.
*.adl binary
*.dsd binary
*.hdf binary
*.img binary
*.rom binary
*.ssd binary
*.uef binary

discs/* binary
roms/* binary
tapes/* binary

roms/README.md text
utils/* text
