*~
*.bak
.DS_Store

*.aps
*.exe
*.dll
*.o
*.a
*.pdb
*.sdf
*.opensdf
*.ilk
*.suo
*.user

# automake/autoconf
Makefile.in
autom4te.cache
aclocal.m4
compile
configure
depcomp
install-sh
missing
stamp-h1
config.log
config.status
Makefile
.deps
.dirstamp

# b-em
cmos*.bin
*.cfg
*.hdf
/ddnoise
/roms
/inf
/discs
/tapes
/uef
