*.core
*.diff
*.o
*.patch
*~
.deps/
.dirstamp
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
b-em
b-em.exe
b-em.res
config.log
config.status
configure
core
etc/
install-sh
missing
tags
b-emlog.txt
not_in_git/
allegro.log
B-Em.geany
src/VDFS5
src/vdfs.lst
src/version.asm
